<h2>Add User</h2>
<form action="/user" method="POST">
    <label>Email</label>
    <input type="email" name="email" value="" required />
    <label>Full name</label>
    <input type="text" name="fullName" value="" required />
    <label>Password</label>
    <input type="password" name="encryptedPassword" required />
    <input type="submit" value="Save User" />
</form>