<form action="/login" method="POST">
    <label><b>Username</b></label><br>
    <input type="text" name="email" placeholder="eg: Stevie" required><br><br>
    <label><b>Password</b></label><br>
    <input type="password" name="password" placeholder="" required><br><br>
    <input type="submit" value="Login">
</form>